server:
  port: 8080
spring:
  application:
    name: landscape
  datasource:
    url: jdbc:postgresql://localhost:5432/vogorode
    username: username
    password: password
  jpa:
    hibernate:
      ddl-auto: none
management:
  endpoints:
    web:
      exposure:
        include: info, prometheus
      base-path:
      path-mapping:
        prometheus: /metrics
        info: /actuator/info
grpc:
  client:
    handyman:
      address: 'static://127.0.0.1:9898'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
    rancher:
      address: 'static://127.0.0.1:8989'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
  server:
    port: 8888
    address: 127.0.0.1