server:
  port: 9090
spring:
  application:
    name: rancher
  data:
    mongodb:
      uri: mongodb://localhost:27017/rancher
  datasource:
    url: jdbc:postgresql://localhost:5432/vogorode
    username: username
    password: password
  jpa:
    hibernate:
      ddl-auto: update
  liquibase:
    enabled: false
management:
  endpoints:
    web:
      exposure:
        include: info, prometheus
      base-path:
      path-mapping:
        prometheus: /metrics
        info: /actuator/info
grpc:
  server:
    port: 8989
    address: 127.0.0.1
  client:
    landscape:
      address: 'static://127.0.0.1:8900'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext