server:
  port: 7070
spring:
  application:
    name: handyman
management:
  endpoints:
    web:
      exposure:
        include: info, prometheus
      base-path:
      path-mapping:
        prometheus: /metrics
        info: /actuator/info
grpc:
  server:
    port: 9898
    address: 127.0.0.1