server:
  port: 8080
spring:
  application:
    name: handyman
  data:
    mongodb:
      uri: mongodb://localhost:27017/handyman
management:
  endpoints:
    web:
      exposure:
        include: prometheus,info
      base-path:
      path-mapping:
        prometheus: /metrics
        info: /actuator/info
grpc:
  server:
    port: 9898
    address: 127.0.0.1
  client:
    landscape:
      address: 'static://127.0.0.1:8900'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE